html {
  background-image: linear-gradient(to right, #39375b, #5f6769);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(3, 33.33%);
  grid-template-areas:
  "name name name money cat cat cat cat"
  "happiness happiness health health cat cat cat cat"
  "button1 button1 button2 button2 cat cat cat cat";
  border: dashed 5px #000;
  background-color: #eae9e9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
}

.cat-name {
  background-color: red;
  grid-area: name;
}

.green {
  background-color: green;
  grid-area: happiness;
}

.yellow {
  background-color: yellow;
  grid-area: health;
}

.pink {
  background-color: pink;
  grid-area: button1;
}

.money {
  background-color: blue;
  grid-area: money;
}

.cat-img-container {
  padding: 0;
  margin: 0;
  grid-area: cat;
  align-self: center;
  justify-self: center;
  width: 75%;
  height: 75%;
}

.grey {
  background-color: grey;
  grid-area: button2;
}

.default-img {
  /* align-self: center;
  justify-self: center; */
  width: 100%;
  height: 100%;
}
